@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


.plus-jakarta{
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root{
    background-color: #efefef;
    color: black;
}

.active{
    border-bottom: 2px solid #176AE5;
}